.idea
文档
bin
obj
OpenNEL_WinUI.csproj.user
OpenNEL_WinUI.sln.DotSettings.user
aecfrxodyqaaaajp-g-x19-guid.cds
aecfrxodyqaaaajp-g-x19-device.cds
aecfrxodyqaaaajp-g-x19.id
aecfrxodyqaaaajp-g-x19.device
4399com.cds
.ug_cache
plugins
Properties
resources
users.json
setting.json
.vs
