input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: var(--color-text) !important;
  caret-color: var(--color-text) !important;
  box-shadow: 0 0 0px 1000px var(--color-background) inset !important;
  transition: background-color 9999s ease-out 0s;
}

input:-moz-autofill,
textarea:-moz-autofill,
select:-moz-autofill {
  box-shadow: 0 0 0px 1000px var(--color-background) inset;
}